<link rel="import" href="../../vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/core-field/core-field.html">
<link rel="import" href="../../vendor/core-icon-button/core-icon-button.html">

<polymer-element name="widget-form" attributes="widget">
    <template>
        <style>
            :host{
                display: block;
            }

            form{
                padding: 20px;
                background: #fafafa;
                border-radius: 6px;
                font-size: 12px;
            }

            .error{
                color:darkred;
            }

            core-field.error-field{
                padding-left: 18px;
            }

            .icon-offset{
                margin-left: 24px;
            }

            select{
                height: 30px;
                width: 50%;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                transition: border-colr ease-in-out .15s, box-shadow ease-in-out .15s;
            }

            button{
                color: #333;
                border: 1px solid #555;
                display: inline-block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                white-space: nowrap;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                border-radius: 4px;
            }

        </style>
        <form on-submit="{{validateWidget}}">
            <core-field layout horizontal center>
                <core-icon icon="subject"></core-icon>
                <input is="core-input" placeholder="Add a title" value="{{widget.title}}" flex>
            </core-field>
            <core-field class="error-field icon-offset">
                <span class="chars-left">{{maxTitleLength - widget.title.length}}</span>
                <span class="error"  style="margin-left: 10px" hidden?="{{titleErrorMessage.isEmpty}}">{{titleErrorMessage}}</span>
            </core-field>
            <core-field layout horizontal center>
                <core-icon icon="description"></core-icon>
                <input is="core-input" placeholder="Add a description" value="{{widget.description}}" flex></input>
            </core-field>
            <core-field class="error-field icon-offset">
                <span class="chars-left">{{maxDescriptionLength - widget.description.length}}</span>
                <span class="error" style="margin-left: 10px" hidden?="{{descriptionErrorMessage.isEmpty}}">{{descriptionErrorMessage}}</span>
            </core-field>
            <core-field style="margin: 10px 12px" layout horizontal center>
                <label>Level: </label>
                <select value="{{widget.level}}">
                    <option template repeat="{{level in allLevels}}" selected?="{{level == widget.level}}">{{level}}</option>
                </select>
            </core-field>
            <div class="field">
            </div>
            <div>
                <button type="submit">Submit</button>
                <button type="reset" on-click="{{cancelForm}}">Cancel</button>
            </div>
        </form>
    </template>
    <script>
        (function(){
            var LEVELS = ['easy', 'intermediate', 'advanced'];
            var MIN_TITLE_LENGTH = 10;
            var MAX_TITLE_LENGTH = 30;
            var MAX_DESCRIPTION_LENGTH = 140;

            function validateTitle(title){
            }
            function validateDescription(description){

            }

            Polymer('widget-form', {
                created: function(){
                    this.descriptionErrorMessage = '';
                    this.titleErrorMessage = '';
                    this.widget = {title: '', description: '', level: 'easy'}
                },
                ready: function(){
                    this.allLevels = LEVELS;
                    this.maxDescriptionLength = MAX_DESCRIPTION_LENGTH;
                    this.maxTitleLength = MAX_TITLE_LENGTH;
                },
                validateTitle: function(){
                    if(this.title.length > MAX_TITLE_LENGTH || this.title.length < MIN_TITLE_LENGTH){
                        this.titleErrorMessage = 'Title must be between ' + MIN_TITLE_LENGTH + ' and ' + MAX_TITLE_LENGTH + ' characters';
                        return false;

                    }

                    this.titleErrorMessage = '';
                    return true;
                },
                validateDescription: function(){
                    if(this.description.length > MAX_DESCRIPTION_LENGTH){
                        this.descriptionErrorMessage = 'Description must be less than ' + MAX_TITLE_LENGTH + ' characters';
                        return false;
                    }

                    this.descriptionErrorMessage = '';
                    return true;
                },
                validateWidget: function(e){
                    e.preventDefault();

                    if(this.validateTitle() && this.validateDescription()){
                        this.fire('widgetvalidated', {'widget': this.widget});
                    }
                },
                cancelForm: function(e){
                    e.preventDefault();
                    titleErrorMessage = '';
                    descriptionErrorMessage = '';
                    this.widget.title = '';
                    this.widget.description = '';
                    this.fire('formnotneeded', {'widget': this.widget});
                }
            });
        })();
    </script>
</polymer-element>
