body{
    font-family: "RobotoDraft";
    font-weight: 300;
}

core-animated-pages{
    width: 85%;
    height: 85%;
    -webkit-user-select: none;
    overflow: hidden;
    
}

core-animated-pages > *{
    border-radius: 5px;
    font-size: 50px;
    background-color: white;
}

body /deep/ core-toolbar{
    background-color: #03a9f4;
    color: #fff;
    
}

core-menu{
    color: #01579b;
    margin: 10px 0 0;
}
core-menu a{
    color: #01579b;
    text-decoration: none;
}

core-menu > paper-item {
    transition: all 300ms ease-in-out;
}

core-menu > paper-item.core-selected{
    background-color: #e1f5fe;
}

@media all and (max-width: 480px){
    core-animated-pages{
        width: 100%;
        height: 100%;
    }
    core-animated-pages section{
        padding-right: 5px;
        padding-left: 5px;
    }
}