<link rel="import" href="../../vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/core-field/core-field.html">

<link rel="import" href="../../services/widget-service.html">
<link rel="import" href="../widget-form/widget-form.html">
<link rel="import" href="../widget-element/widget-element.html">

<polymer-element name="widget-list" attributes="">
    <template>
        <style>
            select {
                margin-bottom: 30px;
                display: inline;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 2px;
                box-shadow:  inset 0 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
        </style>
        <widget-service id="service" widgets="{{widgets}}"></widget-service>
        <article>
            <div>
                <label>Filter: </label>
                <select value="{{filterValue}}" on-change="{{filter}}">
                    <option template repeat="{{filter in filters}}">{{filter}}</option>
                </select>
            </div>
            <div on-widgetvalidated="{{addWidget}}"
                 on-formnotneeded="{{resetForm}}">
                <widget-form widget="{{newWidget}}"></widget-form>
            </div>
            <div on-deletewidget="{{deleteWidget}}"
                 on-levelchanged="{{filter}}">
                <template repeat="{{widget in widgets}}">
                    <widget-element widget="{{widget}}"></widget-element>
                </template>
            </div>
        </article>
    </template>
    <script>
        (function () {

            var Widget = function(){
                return {
                    title: '',
                    description: '',
                    level: 'easy'
                }
            };

            var widgets = [];
            var filteredWidgets = [];
            var filterValue = 'all';
            var FILTERS = ['all', 'easy', 'intermediate', 'advanced']

            function filter(){
                if(filterValue == 'all'){
                    filteredWidgets = widgets;
                    return;
                }

                filteredWidgets = widgets.filter(function(single){
                    return single.level == filterValue;
                })
            }

            function resetForm(widget){
                widget = new Widget();
            }
            Polymer('widget-list', {
                ready: function(){
                    this.newWidget = new Widget();
                    this.widgets = widgets;
                    this.filters = FILTERS;
                    this.filterValue = filterValue;
                },
                resetForm: function(){
                    resetForm(this.newWidget);
                },
                addWidget: function(e){
                    e.preventDefault();
                    this.$.service.create(e.detail['widget']);
                },
                deleteWidget: function(e){
                    e.preventDefault();

                    this.$.service.delete(e.detail['widget']);
                }

            });
        })();
    </script>
</polymer-element>