<link rel="import" href="../../vendor/polymer/polymer.html">
<link rel="import" href="../../vendor/core-icon-button/core-icon-button.html">

<link rel="import" href="../widget-form/widget-form.html">

<polymer-element name="widget-element" attributes="widget">
    <template>
        <style>
            :host {
                display: block;
                margin: 12px 0;
                background: #fcfcfc;
                border-radius: 6px;
                font-size: 16px;

            }

            h2{
                margin: 12px 0;
            }
            .widget{
                padding: 10px;
            }

            .widget .field{
                margin-bottom: 8px;
            }

            .widget .field h2{
                font-weight: normal;
                margin: 0;
                padding: 0;
                font-size: 1.8em;
            }

            .small{
                font-size: .8em;
                cursor: pointer;
            }
        </style>
        <div on-formnotneeded="{{cancelEditing}}"
             on-widgetvalidated="{{updateWidget}}">
            <template if="{{!editing}}">
                <div class="field">
                    <h2>{{widget.title}}</h2>
                </div>
                <div class="field">
                    <span class="small">{{widget.description}}</span>
                </div>
                <div class="field">
                    <p class="small"><span>Level: </span> {{widget.level}}</p>
                </div>
                <div class="field">
                    <core-icon-button on-click="{{startEditing}}" icon="create">
                        <span>Edit</span>
                    </core-icon-button>
                    <core-icon-button on-click="{{deleteWidget}}" icon="delete">
                        <span>Delete</span>
                    </core-icon-button>
                </div>
            </template>
            <template if="{{editing}}">
                <widget-form widget="{{widget}}"></widget-form>
            </template>
         </div>
    </template>
    <script>
        (function(){
            var _cachedWidget = {};

            function copyWidget(source, destination){
                source.title = destination.title;
                source.description = destination.description;
                source.level = destination.level;
            }

            Polymer('widget-element', {
                ready: function(){
                    this.editing = false;
                },
                startEditing: function(e){
                    e.preventDefault();

                    _cachedWidget = {};
                    copyWidget(_cachedWidget, this.widget);
                    this.editing = true;
                },
                deleteWidget: function(e){
                    e.preventDefault();
                    this.fire('deletewidget', {'widget': this.widget})
                },
                updateWidget: function(e){
                    e.preventDefault();

                    if(_cachedWidget.level != this.widget.level){
                        this.fire('levelchanged', {'widget': this.widget})
                    }

                    this.editing = false;
                },
                cancelEditing: function(e){
                    e.preventDefault();
                    copyWidget(this.widget, _cachedWidget);
                    this.editing = false;
                }
            })
        })();
    </script>
</polymer-element>