<link rel="import" href="../vendor/polymer/polymer.html">
<link rel="import" href=".././vendor/core-ajax/core-ajax.html">
<polymer-element name="widget-service" attributes="widgets">
    <template>
        <style>
            :host{
                display: none;
            }
        </style>
        <core-ajax id="ajaxService" auto url="../api/widgets.json" on-core-response="{{widgetsLoaded}}" handleAs="json"></core-ajax>
    </template>
    <script src="../vendor/lodash/dist/lodash.js"></script>
    <script>
        (function () {

            Polymer('widget-service', {

                created: function(){
                    this.widgets = [];
                },
                widgetsLoaded: function(){
                    this.widgets = this.$.ajaxService.response.slice(0);
                },
                create: function(item){
                    this.widgets.push(item);
                    console.log('Widget created');

                },
                delete: function(item){
                    this.widgets = _.reject(this.widgets, item);
                    console.log('Widget deleted');

                }
            });
        })();
    </script>
</polymer-element>