<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Polymer Spa App</title>

    <!--1. Load polymer pollyfill-->
    <script src="../components/vendor/webcomponentsjs/webcomponents.js"></script>

    <!--2. Polymer elements-->
    <link rel="import" href="../components/vendor/core-scaffold/core-scaffold.html">
    <link rel="import" href="../components/vendor/core-toolbar/core-toolbar.html">
    <link rel="import" href="../components/vendor/core-menu/core-menu.html">
    <link rel="import" href="../components/vendor/core-animated-pages/core-animated-pages.html">
    <link rel="import" href="../components/vendor/core-animated-pages/transitions/slide-from-right.html">
    <link rel="import" href="../components/vendor/core-a11y-keys/core-a11y-keys.html">
    <link rel="import" href="../components/vendor/core-ajax/core-ajax.html">
    <link rel="import" href="../components/vendor/paper-item/paper-item.html">
    <link rel="import" href="../components/vendor/flatiron-director/flatiron-director.html">

    <!--3. Custom widgets-->
    <link rel="import" href="../components/templates/widget-form/widget-form.html">
    <link rel="import" href="../components/templates/widget-list/widget-list.html">

    <link rel="stylesheet" href="../site.css">

</head>
<body unresolved fullbleed>

    <template is="auto-binding">
        <flatiron-director route="{{route}}" autoHash></flatiron-director>
        <core-a11y-keys target="{{parentElement}}"
                        keys="up down left right"
                        on-keyspressed="{{keyHandler}}"></core-a11y-keys>
        <core-ajax id="ajax" url="{{selectedPage.page.url}}" handleAs="document" on-core-response="{{onResponse}}" hidden></core-ajax>
        <core-scaffold id="scaffold">
            <nav>
                <core-toolbar><span>Spa Anguirus</span></core-toolbar>
                <core-menu id="menu" valueattr="hash" selected="{{route}}" selectedmodel="{{selectedPage}}" on-core-select="{{menuItemSelected}}">
                    <template repeat="{{page in pages}}">
                        <paper-item icon="label-outline" hash="{{page.hash}}">
                            <a href="#{{page.hash}}">{{page.name}}</a>
                        </paper-item>
                    </template>
                </core-menu>
            </nav>
            <core-toolbar tool flex>
                <div flex>Welcome</div>
                <core-icon-button icon="refresh"></core-icon-button>
                <core-icon-button icon="add"></core-icon-button>
            </core-toolbar>
            <div layout horizontal center-center fit>
                <core-animated-pages id="pages" valueattr="hash" selected="{{route}}" transitions="slide-from-right">
                    <template repeat="{{page in pages}}">
                        <section hash="{{page.hash}}" layout vertical center-center>
                            <div style="overflow: auto; width: 99%" center-center>{{page.name}}</div>
                        </section>
                    </template>
                </core-animated-pages>
            </div>
        </core-scaffold>
    </template>
    <script>
        (function(){
            var ajax, pages, scaffold;
            var cache = {};

            var template = document.querySelector('template[is="auto-binding"]');
            template.pages = [
                {name: 'Single', hash: 'one'},
                {name: 'Page', hash: 'two'},
                {name: 'Single Dynamic', hash: 'three', url: 'single-dynamic.html'},
                {name: 'Page Dynamic', hash: 'four', url: 'page-dynamic.html'},
                {name: 'Widget List', hash: 'five', url: 'widget-index.html'},
                {name: 'Widget Create', hash: 'six', url: 'widget-edit.html'}
            ];

            template.addEventListener('template-bound', function(e){

                this.route = this.route || 'one';
                ajax = document.querySelector('#ajax');
                pages = document.querySelector('#pages');
                scaffold = document.querySelector('#scaffold');

            });

            template.keyHandler = function(e, detail, sender){

                switch(detail.key){
                    case 'left':
                    case 'up':
                        pages.selectPrevious();
                        break;
                    case 'right':
                    case 'down':
                        pages.selectNext();
                }
            };

            template.onResponse = function(e, detail, sender){
                var article = detail.response.querySelector('body');

                var pages = document.querySelector('#pages');

                this.injectBoundHTML(article.innerHTML, pages.selectedItem.firstElementChild);

            };

            template.menuItemSelected = function(e, detail, sender){
                if(detail.isSelected){
                    this.async(function(){
                        if(!cache[ajax.url]){
                            ajax.go();
                        }

                        scaffold.closeDrawer();
                    })
                }
            };
        })();
    </script>
</body>
</html>